@charset "UTF-8";

#main-header {
	
}

.nav-wrapper {
	
}

.logo {
	
}

.navbar {
	
}

.ullist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.info {
	
}

.search {
	
}

.user {
	
}

.articletitle {
	
}

.boardtitle {
	
}

.boardcontent {
	
}

.paging {
	
}

.weekly {
	
}

.weeksub {
	
}

.weeklist {
	
}

.footer {
	
}



