@charset "UTF-8";

:root {
    --main-color:var(--main-color);
    --sub-color:var(--sub-color);
    --white-color-1:var(--sub-color);
    --white-color-2: ;
    --white-color-3:var(--white-color-3);
    --black-color-1: ;
    --black-color-2: ;
    --black-color-3: ;
    --main-font-eng:'Cairo', sans-serif;
    --main-font-kor:var(--white-color-3);
    --sub-font-eng:'Fira Sans', sans-serif;
    --sub-font-kor:var(--white-color-3);
    --seed-size: 35px;
    --seed-name-size : 35px;
    --seed-name-font : 'Bebas Neue', cursive;
    --font-size-h1: 35px;
    --font-size-h2: 25px;
    --font-size-h3: 15px;
    --font-size-h4: 12px;
    --font-size-h5: 10px;
}

body {
    margin:0;
    width:1fr;
    text-decoration:none;
}
a {
    text-decoration: none;
    color:black;
}

ul,ol,li {
    list-style: none;
    margin:0;
    padding:0;
    float:left;
    text-align:center;
}

.board-container {
	
	width:1000px;
	padding: 80px;
	left: 100px;
}
.nav-article {
	width:900px;
}

.nav-title {
	font-size: var(--font-size-h2);
	font-family: var('Cairo', sans-serif);
	margin-left: 40px;
	font-weight:800;
}
.nav-search {
	float: right;
	width: 50px;
	margin: 10px;
}
.nav-input {
	width:110px;
	position:relative;
	right:170px;
}
.nav-category-start {
	padding: 0;
	margin: 20px;
}
.nav-category-ul {
	width:900px;
	list-style:none;
}
.nav-category-li {
	border: 1px solid;
	padding:1px 1px 5px 1px;
	display: block;
	width: 85px;
	margin-left:20px;
	border-radius: 10px 10px 10px 10px;
	text-align:center;
	
}
.nav-category-li-hover {
	border:0;
	color:white;
	background-color: #27ae60;
}
.nav-category-li-count {
	margin-left:90px;
	padding:5px 10px;
}

.nav-select {
	float : right;
	position:relative;
	right:140px;
}

.nav-hr {
	border:0;
	border-top: 1px solid gray;
	border-bottom:1px solid gray;
	border-left:none;
	border-right:none;
	width: 765px;
	align-content:left;
	padding:5px 0px;
	margin-top:10px;
	margin-bottom:10px;
	list-style:none;
	
}
.article-board-boardnum {
	margin-left:0;
}
.article-board-num {
	margin-left:46px;
	margin-right:15px;
}
.article-board-view {
	margin-left:33px;
}
.article-board-main {
	text-decoration: none;
	display:inline-block;
	height:40px;
}
.article-content-list {
	text-align:center;
	margin-left:20px;
	display:inline-block;
	height:40px;
}
.article-content-list-a {
	display:inline-block;
	position:relative;
	left:30px;
}
.article-content-list-b {
	display:inline-block;
	position:relative;
	left:95px;
}
.article-content-list-c {
	display:inline-block;
	position:relative;
	left:145px;
}
.article-content-list-d {
	display:inline-block;
	position:relative;
	left:170px;
}
.article-content-list-e {
	display:inline-block;
	position:relative;
	left:148px;
}
.article-content-list-f {
	display:inline-block;
	position:relative;
	left:150px;
	margin-left:40px;
}

.article-content-viewlikehate {
	margin-left:55px;
}
.article-write-button {
	position:relative;
	left:700px;
	border: 1px solid;
	padding:5 0 5px;
	display: block;
	width: 65px;
	margin-top:10px;
	margin-left:20px;
	border-radius: 3px 3px 3px 3px;
	text-align:center;
	background-color:#16a085;
	
}
.for-hreftag {
	text-decoration: none;
	color:black;
}
.page-cover {
	float:left;
}
.page-previous {
	text-decoration: none;
	text-align:center;
	display:inline-block;
	color:black;
	position:relative;
	left:350px;
}
.page-next {
	text-decoration: none;
	display:inline-block;
	color:black;
	position:relative;
	left:400px;
}
.page-num {
	
	display:inline-block;
	background-color:#27ae60;
	color:black;
	margin-left:10px;
	position:relative;
	left:370px;
}

.aside-title {
	font-size: var(--font-size-h2);
	font-family: var('Cairo', sans-serif);
	margin-left: 40px;
	font-weight:800;
}

.aside-container {
	position:relative;
	left: 930px;
	bottom: 600px;
}
.aside-hr {
	border:0;
	border-top:none;
	border-bottom:none;
	border-left:3px solid gray;
	border-right:none;
	list-style:none;
}
.aside-list {
	margin-left:15px;
}